* {
    box-sizing: border-box;
  }

  #wall {
  /* width: 700px; */
  /* height: 500px; */
  background-color:grey;
  border: purple;
  }
  
  body {
  width: 700px;
  height: 500px;
  background-color:grey;
  border: purple;
  }
  
