* {
    box-sizing: border-box;
  }

  #wall {
  width: 700px;
  height: 500px;
  background-color:grey;
  border: 40px purple;
  display: block;
  margin: 100px auto 0 auto;
  text-align: center;
}

.aL1 {
  outline: 40px purple;
  margin: 100px auto 0 auto;
  text-align: center;
  display: block;
  width: 126px;
  height: 180px;
  background-color: red;
  border-radius: 50% 50% 50% 50%/ 60% 60% 40% 40%;
}
.aL2 {
  outline: 40px purple;
  margin: 83px auto 0 auto;
  border-top: 30px;
  text-align: center;
  display: inline-block;
  width: 74px;
  height: 98px;
  background-color: black;
  border-radius: 50% 50% 50% 50%/ 40% 40% 60% 60%;
}